            <div class="text-center"><h2>Cadastro</h2></div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :first_name,
                  label: "Primeiro nome",
                  placeholder: "Digite seu primeiro nome",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first name" }%>

        <%= f.input :last_name,
                    label: "Sobrenome",
                    placeholder:"Digite seu útimo nome",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last name" }%>

            <%= f.input :email,
                        label: "Seu e-mail",
                        required: true,
                        autofocus: true,
                        placeholder: "email@email.com",
                        input_html: { autocomplete: "email" }%>

            <%= f.input :password,
                        label: "Senha",
                        placeholder:"Digite sua senha",
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>

            <%= f.input :password_confirmation,
                        label: "Confirme sua senha",
                        placeholder:"Digite sua senha",
                        required: true,
                        input_html: { autocomplete: "new-password" } %>

            <%= f.input :home_address,
                    label:"Ponto de partida",
                    required: true,
                    autofocus: true,
                    placeholder: "Digite o endereço inicial do seu itinerário",
                    input_html: { autocomplete: "ponto de partida" }%>

            <%= f.input :home_address, label:"Ponto de partida", input_html: { data: { geocoder_target: "home_address" }, class: "d-none" },
            wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>

              <%= f.input :school_address,
                    label:"Ponto final",
                    required: true,
                    autofocus: true,
                    placeholder: "Digite o ponto final do seu itinerário",
                    input_html: { autocomplete: "ponto final" }%>

                     <%= f.input :car_model,
                    label:"Modelo do carro",
                    required: true,
                    autofocus: true,
                    placeholder: "Ducato teto alto",
                    input_html: { autocomplete: "modelo do carro" }%>

                     <%= f.input :car_plate,
                    label:"Placa do carro",
                    required: true,
                    autofocus: true,
                    placeholder: "AAA1234 ou AAA1B34",
                    input_html: { autocomplete: "placa do carro" }%>

                    <%= f.input :car_color,
                    label: "Cor do carro",
                    required: true,
                    autofocus: true,
                    placeholder: "branca",
                    input_html: { autocomplete: "cor do carro" }%>

                         <div class="row text-center">
              <%= f.submit 'Sign up', class: "btn btn-warning btn-lg" %>
              <%= render "devise/shared/links" %>
    <%end%>

    </div>
  </div>
</div>
