<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_completo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <%= image_tag "onibus_avatarpng.png", class: "avatar" %>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Olá, #{current_user.first_name}!", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cadastrar criança", new_itinerary_student_path(@itinerary), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Editar itinerário", itinerary_students_path(@itinerary), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Visualizar itinerário", itinerary_path(@itinerary), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
