<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_completo.png" %>
    <% end %>

    <div class="d-flex">
      <% if user_signed_in? %>
        <span class="d-flex align-items-center">
          <h4 id="greeting">Olá, <%= current_user.first_name %>!</h3>
        </span>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="d-flex align-items-center">
          <%= image_tag "onibus_avatarpng.png", class: "avatar" %>
        </span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <hr class="separator">
          <li class="nav-item">
            <%= link_to new_itinerary_student_path(@itinerary), class: "nav-link" do %>
              <p><i class="fas fa-user-plus"></i> Cadastrar criança</p>
            <% end %>
          </li>
          <hr class="separator">
          <li class="nav-item">
            <%= link_to itinerary_students_path(@itinerary), class: "nav-link" do %>
              <p><i class="fas fa-edit"></i> Editar itinerário</p>
            <% end %>
          </li>
          <hr class="separator">
          <li class="nav-item">
            <%= link_to itinerary_path(@itinerary), class: "nav-link" do %>
              <p><i class="fas fa-eye"></i> Visualizar itinerário</p>
            <% end %>
          </li>
          <hr class="separator">
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
              <p><i class="fas fa-sign-out-alt"></i> Log out</p>
            <% end %>
          </li>
          <hr class="separator">
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
